.map-choice:after {
    content: "";
    display: block;
    clear: both;
}

.map-choice {
    display: flex;
    justify-content: center;
}

.loc-choice {
    float: left;
    width: 30%;
}

.map {
    width: 70%;
    height: 400px;
}

.address {
}

body {
}

footer {
    text-align: center;
}

p {
    margin-bottom: 0;
}

.col-sm {
    text-align: center;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.85);
}

.nav-item {
    font-size: 1rem;
    color: #4f5051;
}

.nav-link {
    margin-left: 50px;
}

.nav-item:hover {
    color: #000000;
}

.navbar-brand {
    margin-left: 200px;
    margin-right: 150px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000065;
}

.navbar-brand:hover {
    color: #000065;
}

.btn-link {
    color: black;
}

.btn-link:hover {
    color: black;
    text-decoration: none;
}

.carousel-indicators {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-right: 0;
    margin-left: 0;
    background-color: #e6e1dd;
    position: relative;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #8e8e8e;
    opacity: 1;
}

.carousel-indicators .active {
    background-color: #006992;
}

.sticky-top-ie {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1020;
}

.icon {
    color: navy;
}

.container-lg {
    background-color: #f7f7f7;
    padding-left: 0;
    padding-right: 0;
}

.title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer {
    background-color: #1c1b1b;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-info {
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    color: #a4a4a4;
}

.carousel-inner {
    background-color: #e6e1dd;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}